/* fonts */

@font-face {
  font-family: "A";
  font-weight: 100;
  font-style: lighter;
  src: url("fonts/A-Thin.otf");
}

@font-face {
  font-family: "A";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/A-Text.otf");
}

@font-face {
  font-family: "A";
  font-weight: 900;
  font-style: bold;
  src: url("fonts/A-ExtraBold.otf");
}

html, body {
	font-family: "A";
}

/* custom */

.button {
  transition: .25s;
}

.is-white {
	color: white;
}

.has-text-shadow {
	text-shadow: 0px 0px 120px rgba(0, 0, 0, 1);
}

.is-circle {
	border-radius: 9999px;
}

.is-spacing {
	height: 4rem;
}

.is-half-spacing {
	height: 2rem;
}

.is-quarter-spacing {
	height: 1rem;
}

.image.is-168x168 {
  height: 168px;
  width: 168px;
}

.image.is-256x256 {
  height: 256px;
  width: 256px;
}

#instagram-icon {
  opacity: .5;
  transition: .5s;
}

#instagram-icon:hover {
  opacity: 1;
}

.kyle-shadow {
  -webkit-box-shadow: 0px 12px 48px -16px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 12px 48px -16px rgba(0,0,0,.5);
  box-shadow: 0px 12px 48px -16px rgba(0,0,0,.5);
}

.has-border-radius {
  border-radius: 8px;
}

.is-gray {
  color: #A7BBC3 !important;
}

/* animations */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* hero box */

#hero-box {
  padding: 4rem;
  border-radius: 8px;
  border: none;
}

#hero-box .button {
  min-width: 50%;
}

/* tile images */

.tile-image-1 {
  background: url(images/tile-image-1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tile-image-2 {
  background: url(images/tile-image-2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tile-image-3 {
  background: url(images/tile-image-3.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}

.tile-image-4 {
  background: url(images/tile-image-4.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 300px;
}

.tile-image-5 {
  background: url(images/tile-image-5.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* overrides */

.navbar-item img {
	height: 1.5rem;
	max-height: 3rem;
}

.logo {

}

.navbar {
  padding-top: .5rem;
}

.hero-head {
	padding-top: .5rem;
}

.button.is-large {
  font-size: 1rem;
  padding: 1.5rem;
  font-weight: bold;
}

@media screen and (min-width: 769px), print {
  .hero.is-large .hero-body {
    padding-bottom: 18rem;
    padding-top: 12rem;
  }
}

/* video */

.background-video { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 	background: url('../images/background-video.jpg') no-repeat;
 	background-size: cover;
 	transition: 1s opacity;
}
.background-video-overlay {
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -95;
    background: black;
    opacity: 0;
}

.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background: url('images/background-video.jpg') center center / cover no-repeat;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}*/

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('images/background-video.jpg') center center / cover no-repeat;
  }

  /*.fullscreen-bg__video {
    display: none;
  }*/
}