/* fonts */

@font-face {
  font-family: "A";
  font-weight: 100;
  font-style: lighter;
  src: url("fonts/A-Thin.otf");
}

@font-face {
  font-family: "A";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/A-Text.otf");
}

@font-face {
  font-family: "A";
  font-weight: 900;
  font-style: bold;
  src: url("fonts/A-ExtraBold.otf");
}

html, body {
	font-family: "A";
}

/* custom */

.is-white {
	color: white;
}

.has-text-shadow {
	text-shadow: 0px 0px 88px rgba(0, 0, 0, 1);
}

.is-circle {
	border-radius: 9999px;
}

.is-spacing {
	height: 4rem;
}

.is-half-spacing {
	height: 2rem;
}

.is-quarter-spacing {
	height: 1rem;
}

/* tile images */

.tile-image-1 {
  background: url(images/tile-image-1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tile-image-2 {
  background: url(images/tile-image-2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tile-image-3 {
  background: url(images/tile-image-3.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}

.tile-image-4 {
  background: url(images/tile-image-4.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 300px;
}

.tile-image-5 {
  background: url(images/tile-image-5.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* overrides */

.navbar-item img {
	height: 1.5rem;
	max-height: 3rem;
}

.logo {

}

.tabs a {
	color: white;
	border-bottom-color: white;
	opacity: 0.8;
	transition: .5s;
}

.tabs a:hover {
	color: white;
	border-bottom-color: white;
	opacity: 1;
}

.tabs li.is-active a {
	color: white;
	border-bottom-color: white;
	font-weight: bold;
	opacity: 1;
}

.hero-head {
	padding-top: .5rem;
}

/* video */

.background-video { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 	background: url('../images/background-video.jpg') no-repeat;
 	background-size: cover;
 	transition: 1s opacity;
}
.background-video-overlay {
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -95;
    background: black;
    opacity: 0.2;
}

.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}